<%if(globals==undefined || globals==null || globals=="" || globals.cards.length==0){%>

<!-- TODO -Make this nice later on -->
<div>No content to display</div>
<div>Click <a href='/settings'>HERE</a> for settings?</div>
<script lang="javascript">
    // reload every 5 seconds to check for content
    const interval = setInterval(function () {
        window.location.reload();
    }, 5000);
</script>
<%}
  else
  {%>

<div id="myCarousel" data-interval="<%=globals.slideDuration%>" data-pause="false" class="carousel slide <%=globals.fadeTransition%> h-100 w-100"
    data-ride="carousel">
    <div class="carousel-inner h-100 w-100 ">
    <% globals.cards.forEach(function(card) { %>
        <%-card.rendered%>
    <%});%>
    </div>
</div>

<script language='javascript'>
    var initialLoadTime = new Date().getTime();
    //console.log('initial load time:' + initialLoadTime)
    $(function () {

        // resize for initial page load
        $('.myDiv').css({
            'height': (($(window).height()) - 115) + 'px'
        });
        //console.log('Refresh posters');

        StopAllAudio();
        //trigger initial audio play if present
        if (document.getElementById("audio1")) {
            var x = document.getElementById("audio1");
            x.play().catch(e => {
                // ignore promise errors when paused during play
                //console.warn(e);
            });
        }

        // pause on itial slide for 4 seconds to allow poster load
        waitforload(4000, 1);

        // check if on single card
        var numOfCards;
        numOfCards = <%=globals.cards.length %> ;
        // if on 1 or less cards then we need to trigger a manual refresh every slide transition period
        if (numOfCards < 2) {
            //console.log('On single card');
            // check every 5 seconds to see if ready for refresh
            const interval = setInterval(function () {
                //console.log((new Date().getTime() - initialLoadTime) / 1000);
                if (new Date().getTime() - initialLoadTime > <%=globals.slideDuration %> ) {
                    window.location.reload();
                }
            }, 5000);
        }
    });

    async function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function waitforload(delay, id) {
        // console.log('Waiting for '+delay+' seconds...');
        await sleep(delay);

        // resize banner and progress bar based upon poster size
        Resize(id);
    }

    function Resize(id) {
        var posterWidth = $('#poster' + id).width();
        //console.log(posterWidth);
        if (posterWidth > 0) {
            // $('#bottomBanner' + id).css({
            //     'width': posterWidth + 'px'
            // });
            console.log('Check if hidden');
            if ($('#progress' + id).hasClass('hidden')) {
            } else {
                $('#progress' + id).css({
                    'width': posterWidth - 2 + 'px'
                });
            }
        }
    }

    // resize when window resizes
    $(window).bind('resize', function () {
        $('.myDiv').css({
            'height': (($(window).height()) - 115) + 'px'
        });

        var posterWidth = $('.poster').width();
        if (posterWidth > 0) {
            // $('.bottomBanner').css({
            //     'width': posterWidth + 'px'
            // });
            $('.progress').css({
                'width': posterWidth - 2 + 'px'
            });
        }
    });

    // pause carouselwhilst any videos are playing
    // [TODO!!! - ]
    $('#myCarousel').on('slid.bs.carousel', function (ev) {
        StopAllAudio();
        var id = ev.relatedTarget.id;

        // if the refresh period has been met, then reload
        //console.log((new Date().getTime() - initialLoadTime) / 1000);
        if (new Date().getTime() - initialLoadTime > <%=globals.refreshPeriod %> ) {
            window.location.reload();
        }


        //console.log('sliding to item:', id); // do something...
        if (document.getElementById("audio" + id)) {
            var x = document.getElementById("audio" + id);
            x.play().catch(e => {
                // ignore promise errors when paused during play
            });
        }

        // resize everything after move to new slide
        waitforload(0, id);

        /*         if (substr(id, 3).toLower() == 'vid') {
                  console.log('pausing carousel and starting video');
                  setTimeout(function () {
                    $('#myCarousel').carousel('pause');
                  }, 1)
                  player.playVideo();
                } */
    });

    function StopAllAudio() {
        $('audio').each(function () {
            try {
                this.pause(); // Stop playing
                this.currentTime = 0; // Reset time
            } catch (err) {
                //console.warn(err);
            }
        });
    }

    //  });
</script>
<%}%>
