<!doctype html>
<html lang="en">
<!--
***********************************************************
* Posterr - Your home media display                       *
* Developed by Matt Petersen - Brisbane, Australia        *
***********************************************************
-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Additional js libs -->
  <script src="/js/jquery-3.3.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!--- CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/settings-styles.css">
  <link rel="stylesheet" href="/css/light.min.css">

  <!-- <script src="/js/script.js"></script> -->

  <title>Posterr - Settings</title>
</head>

<body>
  <%if(!user.valid){%><script language='javascript'>window.location.href = '/logon';</script>%><%}%>
  <div class="container">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Posterr</a></li>
        <li class="breadcrumb-item active" aria-current="page">Posterr Settings</li>
      </ol>
    </nav>
    <%if(typeof formData !== 'undefined' && formData.saved == true) {%><script language='javascript'>
      alert("Posterr Settings Saved. Please allow a few seconds for Posterr to restart");
    </script><%}%>
    <!-- Layout -->
    <div class="row gutters-sm">
      <!-- Side Menu View -->
      <div class="col-md-4 d-none d-md-block">
        <div class="card">
          <div class="card-body">
            <nav class="nav flex-column nav-pills nav-gap-y-1">
              <a href="#settings" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
                <i class="fal fa-cog"></i><span class="menu">Settings</span>
              </a>

              <a href="#about" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                <i class="fal fa-person-sign"></i><span class="menu">About</span>
              </a>
            </nav>
          </div>
        </div>
      </div>


      <div class="col-md-8">
        <div class="card">
          <!-- Mobile Menu View -->
          <div class="card-header border-bottom mb-3 d-flex d-md-none">
            <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
              <li class="nav-item">
                <a href="#settings" data-toggle="tab" class="nav-link has-icon active"><i class="fal fa-cog"></i>
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle></svg>
                </a>
              </li>
              <li class="nav-item">
                <a href="#about" data-toggle="tab" class="nav-link has-icon"><i class="fal fa-person-sign"></i>
                  <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                  <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </div>

          <!-- Tab Content -->
          <div class="card-body tab-content">

            <!-- General Settings -->
            <div class="tab-pane active" id="settings">
              <h6>POSTERR SETTINGS</h6>
              <hr>
              <!-- show validation errors -->
              <% 
              if(typeof errors !== 'undefined'){
                // display validation errors
                errors.forEach(function(e) { %>
                  <p class="alert alert-warning"><%=e.msg %></p>
                <%});%>
              <%}%>
              <form method="POST" action="/settings">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" aria-describedby="password"
                    placeholder="Enter a password" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.password%>"<%}else{%><%=settings.password%>"<%}%>>
                  <small id="passwordHelp" class="form-text text-muted">Enter a password to secure this page</small>
                </div>
                <div class="form-group">
                  <label for="slideDuration">Slide Duration</label>
                  <input type="text" class="form-control" id="slideDuration" name="slideDuration" aria-describedby="slideDuration"
                    placeholder="Suggest no less than 5 and no more than 20-30 seconds" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.slideDuration%>"<%}else{%><%=settings.slideDuration%>"<%}%>>
                  <small id="slideDurationHelp" class="form-text text-muted">How many seconds that each slide will
                    remain on the screen</small>
                </div>
                <div class="form-group">
                  <label for="refreshPeriod">Refresh Period</label>
                  <input type="text" class="form-control" id="refreshPeriod" name="refreshPeriod" aria-describedby="refreshPeriod"
                    placeholder="suggest 120-300" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.refreshPeriod%>"<%}else{%><%=settings.refreshPeriod%>"<%}%>>
                  <small id="refreshPeriodHelp" class="form-text text-muted">How many seconds before the browser
                    refreshes the slide card data (consider how many slides you have and slide duration)</small>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                    <input type="checkbox" class="custom-control-input" name="artSwitch" id="artSwitch" 
                      value="true" <% if(typeof formData !== 'undefined' && errors){%><%=formData.artSwitch ? 'checked' : '' %><%}else{%><%=(settings.hasArt == 'true') ? 'checked' : '' %><%}%>>
                    <label class="custom-control-label" for="artSwitch">Enable background artwork</label>
                    <small id="themeHelp" class="form-text text-muted">Shows background art behind the poster, *when available*</small>
                  </div>
                </div>

                <label class="d-block">Theme Options</label>
                <div class="form-group">
                  <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                    <input type="checkbox" class="custom-control-input" name="themeSwitch" id="themeSwitch" 
                      value="true" <% if(typeof formData !== 'undefined' && errors){%><%=formData.themeSwitch ? 'checked' : '' %><%}else{%><%=(settings.playThemes == 'true') ? 'checked' : '' %><%}%>>
                    <label class="custom-control-label" for="themeSwitch">TV theme tunes</label>
                    <small id="themeHelp" class="form-text text-muted">Enables TV theme tunes, *when available*</small>
                  </div>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                    <input type="checkbox" class="custom-control-input" name="genericSwitch" id="genericSwitch" 
                      value="true" <% if(typeof formData !== 'undefined' && errors){%><%=formData.genericSwitch ? 'checked' : '' %><%}else{%><%=(settings.genericThemes == 'true') ? 'checked' : '' %><%}%>>
                    <label class="custom-control-label" for="genericSwitch">Generic movie themes</label>
                    <small id="randomThemeHelp" class="form-text text-muted">Plays a random mp3 from the '/randomthemes' directory</small>
                  </div>
                </div>

                <label class="d-block">Slide Transitions</label>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="fadeOption" id="slideRadio" value="false" 
                    <% if(typeof formData !== 'undefined' && errors){%><%=(formData.fadeOption=='false') ? 'checked' : '' %><%}else{%><%=(settings.fade == 'false') ? 'checked' : '' %><%}%>>
                    <label class="form-check-label" for="slideRadio">Slide</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="fadeOption" id="fadeOption" value="true" 
                    <% if(typeof formData !== 'undefined' && errors){%><%=(formData.fadeOption=='true') ? 'checked' : '' %><%}else{%><%=(settings.fade == 'true') ? 'checked' : '' %><%}%>>
                    <label class="form-check-label" for="fadeRadio">Fade</label>
                  </div>
                  <small id="fadeRadioHelp" class="form-text text-muted">The transition effect for when slides
                    change</small>
                  <div class="form-group small text-muted">
                  </div>
                </div>

              </br>
              <h6>PLEX SETTINGS</h6>
              <hr>
                <div class="form-group">
                  <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                    <input type="checkbox" class="custom-control-input" name="plexHTTPSSwitch" id="plexHTTPSSwitch"
                     value="true" <% if(typeof formData !== 'undefined' && errors){%><%=formData.plexHTTPSSwitch ? 'checked' : '' %><%}else{%><%=(settings.plexHTTPS == 'true') ? 'checked' : '' %><%}%>>
                    <label class="custom-control-label" for="plexHTTPSSwitch">HTTPS Connection</label>
                    <small id="plexHTTPSHelp" class="form-text text-muted">Enable if Plex requires a HTTPS 'secure'
                      connection.</small>
                  </div>
                </div>

                <div class="form-group">
                  <label for="plexIP">Server IP or Domain Name</label>
                  <input type="text" class="form-control" id="plexIP" name="plexIP" aria-describedby="plexIPHelp"
                    placeholder="n.n.n.n" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.plexIP%>"<%}else{%><%=settings.plexIP%>"<%}%>>
                  <small id="plexIPHelp" class="form-text text-muted">Enter the Plex IP or Domain Name.</small>
                </div>

                <div class="form-group">
                  <label for="plexIP">Server Port</label>
                  <input type="text" class="form-control" id="plexIPort" name="plexPort" aria-describedby=" plexPortHelp"
                    placeholder="usually port 32400" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.plexPort%>"<%}else{%><%=settings.plexPort%>"<%}%>>
                  <small id="plexPortHelp" class="form-text text-muted">Enter the server port. (usually 32400).</small>
                </div>

                <div class="form-group">
                  <label for="plexToken">Plex Token</label>
                  <input type="password" class="form-control" name="plexToken" id="plexToken" aria-describedby="plexToken"
                    placeholder="Plex Token" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.plexToken%>"<%}else{%><%=settings.plexToken%>"<%}%>>
                  <small id="plexTokenHelp" class="form-text text-muted">Needed to communicate with your Plex server.
                    (<a href="https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/"
                      target="_blank">details</a>)</small>
                </div>
                <div class="form-group">
                  <label for="plexLibraries">Plex Libraries for On-Demand Titles</label>
                  <input type="text" class="form-control" id="plexLibraries" name="plexLibraries" aria-describedby="plexLibraries"
                    placeholder="suggestions -> movies,tv shows,anime" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.plexLibraries%>"<%}else{%><%=settings.onDemandLibraries%>"<%}%>>
                  <small id="plexLibrariesHelp" class="form-text text-muted">Enter Plex library names to use (comma seperated and no spaces, except in the name)
                    (Leave blank to disable)</small>
                </div>
                <div class="form-group">
                  <label for="numberOnDemand">Number to Display</label>
                  <input type="text" class="form-control" id="numberOnDemand" name="numberOnDemand" aria-describedby="numberOnDemand"
                    placeholder="suggest no more than 10" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.numberOnDemand%>"<%}else{%><%=settings.numberOnDemand%>"<%}%>>
                  <small id="numberOnDemandHelp" class="form-text text-muted">The number of random titles to display from
                    each specified Plex library.</small>
                </div>
                <div class="form-group">
                  <label for="onDemandRefresh">On-demand Refresh Period</label>
                  <input type="text" class="form-control" id="onDemandRefresh" name="onDemandRefresh" aria-describedby="onDemandRefresh"
                    placeholder="suggest 30" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.onDemandRefresh%>"<%}else{%><%=settings.onDemandRefresh%>"<%}%>>
                  <small id="onDemandRefresh" class="form-text text-muted">How often, in minutes, on-demand titles are refreshed</small>
                </div>

              </br>
              <h6>SONARR SETTINGS (v3 Only)</h6>
              <small id="sonarrHelp" class="form-text text-muted">The following settings allow for comming soon 'TV'
                titles to be included.</small>
              <hr>
              <div class="form-group">
                <label for="sonarrToken">Sonarr Token</label>
                <input type="password" class="form-control" id="sonarrToken" name="sonarrToken" aria-describedby="sonarrTokenlHelp"
                  placeholder="Sonarr API Token`" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.sonarrToken%>"<%}else{%><%=settings.sonarrToken%>"<%}%>>
                <small id="sonarTokenHelp" class="form-text text-muted">Enter the Sonarr API token. (Leave blank to disable)</small>
              </div>
                <div class="form-group">
                  <label for="sonarrUrl">Sonarr URL</label>
                  <small id="sonarrInfo" class="form-text text-muted">The following settings allow for comming soon 'TV'
                    titles to be included.</small>
                  <input type="text" class="form-control" id="sonarrUrl" name="sonarrUrl" aria-describedby="sonarrUrlHelp"
                    placeholder="http://n.n.n.n:8989" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.sonarrUrl%>"<%}else{%><%=settings.sonarrURL%>"<%}%>>
                  <small id="sonarUrlHelp" class="form-text text-muted">Enter the ful URL and port for Sonarr.</small>
                </div>
                <div class="form-group">
                  <label for="sonarrDays">Days ahead</label>
                  <input type="text" class="form-control" id="sonarrDays" aria-describedby="sonarrDays" name="sonarrDays" placeholder="" 
                  value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.sonarrDays%>"<%}else{%><%=settings.sonarrCalDays%>"<%}%>>
                  <small id="sonarUrlHelp" class="form-text text-muted">Enter the days to look ahead in the Sonarr
                    calendar.
                    (Use a low number like 2-3 if 'premieres' off, otherwise 30-60)</small>
                </div>

                <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                  <input type="checkbox" class="custom-control-input" id="premiereSwitch" name="premiereSwitch"
                  value="true" <% if(typeof formData !== 'undefined' && errors){%><%=formData.premiereSwitch ? 'checked' : '' %>
                    <%}else{%><%=(settings.sonarrPremieres == 'true') ? 'checked' : '' %><%}%>>
                  <label class="custom-control-label" for="premiereSwitch">Show premieres</label>
                  <small id="premiereSwitchHelp" class="form-text text-muted">Only show season premieres.</small>
                </div>
                
              </br>
              <h6>RADARR SETTINGS</h6>
              <small id="radarrInfo" class="form-text text-muted">The following settings allow for comming soon 'Movie'
                titles to be included.</small>
              <hr>
              <div class="form-group">
                <label for="radarrToken">Radarr Token</label>
                <input type="password" class="form-control" id="radarrToken" name="radarrToken" aria-describedby="radarrTokenHelp"
                  placeholder="Radarr API Token" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.radarrToken%>"<%}else{%><%=settings.radarrToken%>"<%}%>>
                <small id="radarrTokenHelp" class="form-text text-muted">Enter the Radarr API token. (Leave blank to disable)</small>
              </div>
                <div class="form-group">
                  <label for="radarrUrl">Radarr URL</label>
                  <input type="text" class="form-control" id="radarrUrl" name="radarrUrl" aria-describedby="radarrUrlHelp"
                    placeholder="http://n.n.n.n:7878" value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.radarrUrl%>"<%}else{%><%=settings.radarrURL%>"<%}%>>
                  <small id="radarUrlHelp" class="form-text text-muted">Enter the ful URL and port for Radarr.</small>
                </div>
                <div class="form-group">
                  <label for="radarrDays">Days ahead</label>
                  <input type="text" class="form-control" id="radarrDays" name="radarrDays" aria-describedby="radarrDays" placeholder="Suggest 90-175"
                   value="<% if(typeof formData !== 'undefined' && errors){%><%=formData.radarrDays%>"<%}else{%><%=settings.radarrCalDays%>"<%}%>>
                  <small id="radarrUrlHelp" class="form-text text-muted">Enter the days to look ahead in the Radarr
                    calendar.</small>
                </div>

                <hr />
                <button type="reset" class="btn btn-info" onclick="location.href = '/settings';">Reload Saved</button>&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-info"    onclick="location.href = '/';">Main Page</button>
                <button type="submit" class="btn btn-danger" style="float: right;">Save</button>
              </form>
            </div>

            <!-- About -->
            <div class="tab-pane" id="about">
              <h6>ABOUT POSTERR</h6>
              <p><%=version.versionLabel + " - v" + version.version%></p>
              <hr>
              <p>
                POSTERR was initially born from a desire for me to learn Node. Over time, I decided to
                 take it from an excercise to being a full product.
              </p>
              <p>
                My goals were simple: </p>
              <ul>
                <li>Make it open source</li>
                <li>Make it free</li>
                <li>Make it cross-platform</li>
                <li>Make it better, or at least a bit different to the other apps out there.</li>
              </ul>
              <p>
                I'd like to thank everyone for their suggestions and feedback. Keep it coming!
                I'd also like to thank those that have contributed to the project. Im learning as much from you as
                I have from building this.
              </p>
              <P>Thanks everyone!</P>
              <P>Matt Petersen (April, 2021)</P>
              <p>Support my efforts and continued development.</br> <a href="https://paypal.me/thanksmp" target="_blank">Buy me a coffee to say thanks.</a></p>
              <hr />
              <label class="d-block" style="text-decoration: underline;">Project Details</label>
              <p>
                Find this project on GitHub <a href="https://github.com/petersem/posterr" target="_blank">here</a>.
              </p>
              <p>
                Get involved in the discussion groups and have your say. Contribe to the code, where you can add value.
              </p>
              <p>
                If you want to install this with Docker, find the image at
                <a href="https://hub.docker.com/repository/docker/petersem/poster" target="_blank">petersem/poster</a>
                on Docker Hub.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>


</body>

</html>