<!doctype html>
<html lang="en">
<!--
***********************************************************
* Posterr - Your home media display                        *
* Developed by Matt Petersen - Brisbane, Australia        *
***********************************************************
-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Additional js libs -->
  <script src="/js/jquery-3.3.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!--- CSS -->
  <link rel="stylesheet" href="<%=baseUrl%>/css/bootstrap.min.css">
  <link rel="stylesheet" href="<%=baseUrl%>/css/font-awesome.min.css">
  <link rel="stylesheet" href="<%=baseUrl%>/css/debug.css">
  <link rel="stylesheet" href="<%=baseUrl%>/css/light.min.css">
  <!-- <script src="/js/script.js"></script> -->

  <title>Posterr Debug Page</title>
  <link rel="shortcut icon" type="image/png" href="<%=baseUrl%>/favicons/favicon.ico"/>
</head>

<body>
  <h1>  <i class="fal fa-debug" style="font-size: 48px; color:forestgreen;"></i> Posterr Debug Page</h1>
</br>
<p>Use this page to help debug any connectivity issues with Posterr</p>
</br>
<h3>Software Version</h3>
<p>Posterr Verson: <%=version%></p>
</br>
<h3>Tests</h3>
See logs for results
<br/><br/>
<button type="button" class="test btn btn-success" onclick="location.href = '<%=baseUrl%>/';">Return</button>
<button type="button" class="test btn btn-secondary" onclick="location.href = '<%=baseUrl%>/debug/ping';">Ping Tests</button>
<button type="button" class="test btn btn-secondary" onclick="location.href = '<%=baseUrl%>/debug/plexns';">Now Screening Test</button>
<br><br>
<button type="button" class="test btn btn-secondary" onclick="location.href = '<%=baseUrl%>/debug/plexod';">On-demand Test</button>
<button type="button" class="test btn btn-secondary" onclick="location.href = '<%=baseUrl%>/debug/sonarr';">Sonarr Test</button>
<button type="button" class="test btn btn-secondary" onclick="location.href = '<%=baseUrl%>/debug/radarr';">Radarr Test</button>
<br><br>
<button type="button" class="test btn btn-secondary" onclick="location.href = '<%=baseUrl%>/debug/readarr';">Readarr Test</button>
<button type="button" class="test btn btn-secondary" onclick="location.href = '<%=baseUrl%>/debug/trivia';">Open Trivia DB Test</button><br/>
</br>
</br>
<h3>Settings</h3>
<ul>
  <ul>
    <% 
    var keyVal="";
    for (let k of Object.keys(settings)) {
      switch(k.toLowerCase()){
        case "password":
          keyVal = 'suppressed';
          break;
        case "plextoken":
          keyVal = 'suppressed';
          break;
        case "radarrtoken":
          keyVal = 'suppressed';
          break;
          case "sonarrtoken":
          keyVal = 'suppressed';
          break;
        case "readarrtoken":
          keyVal = 'suppressed';
          break;
        case "filterusers":
          keyVal = 'suppressed';
          break;
        case "filterdevices":
          keyVal = 'suppressed';
          break;
        default:
          keyVal = settings[k];
          break;
      }
    %>
      <li><%= k %>: <span class="settings"><%= keyVal %></span></li>
    <% } %> 
   </ul>
</body>
</html>
