<!doctype html>
<html lang="en">
<!--
***********************************************************
* Posterr - Your home media display                        *
* Developed by Matt Petersen - Brisbane, Australia        *
***********************************************************
-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Additional js libs -->
  <script src="<%=baseUrl%>/js/jquery-3.3.1.slim.min.js"></script>
  <script src="<%=baseUrl%>/js/bootstrap.min.js"></script>

  <!--- CSS -->
  <link rel="stylesheet" href="<%=baseUrl%>/css/bootstrap.min.css">
  <link rel="stylesheet" href="<%=baseUrl%>/css/font-awesome.min.css">
  <link rel="stylesheet" href="<%=baseUrl%>/css/styles.css">
  <!-- Apply UI customisations -->
  <%if(globals.rotate == "true"){%>
    <style>html {
      transform: rotate(-90deg) !important;
      transform-origin: left top !important;
      width: 100vh !important;
      height: 100vw !important;
      overflow-x: hidden !important;
      position: absolute !important;
      top: 100% !important;
      left: 0 !important;
    } </style>
  <%}%>
  <%if(globals.custBrand !== ""){%>
    <style>.banners { font-family: '<%=globals.custBrand%>'; }</style>
  <%}%>

  <%if(globals.footColour !== undefined && globals.footColour !== "" ){%>
    <style>.tagLine { color: <%=globals.footColour%>; }</style>
  <%}%>

  <%if(globals.bgColour !== undefined && globals.bgColour !== "" && globals.hasArt !== 'true' ){%>
    <style>body { background-color: <%=globals.bgColour%>; }</style>
  <%}%>

  <%if(globals.titleColour !== undefined && globals.titleColour !== "" ){%>
    <style>.bannerBigText { color: <%=globals.titleColour%>; }</style>
  <%}%>

  <title>Posterr</title>
  <link rel="shortcut icon" type="image/png" href="<%=baseUrl%>/favicons/favicon.ico"/>
</head>
<body>
